*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
#container{
    background: rgb(59, 22, 192);
    font-family: arial;
    display: grid;
    grid-row-gap:5%;
    grid-template-rows: minmax(50px 20%) minmax(50px 10%) auto;
    justify-content: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
}
#question{
    grid-row: 1/2;
    align-self:end;
    text-align: center;
    margin: 1% 5%;
    font-size: 5vh;
}
#response{
    height: 10vh;
    width: 50vw;
    text-align: center;
    grid-row: 2/3;
    border-radius: 2vh;
    font-size: 6vh;
    /* text-transform: lowercase; */
    transition-duration: 0.7s;
}
#bouttonvalider{
    border-radius: 10px;
    background-color: rgba(134, 158, 0, 0.904);
    height: 10vh;
    width: 20vw;
    font-size: 18px;
}
#score{
    display: flex;
    justify-content: space-evenly;
    font-size: 8vh;
    width: 100%;
    grid-row: 4 / 5;
}
#faux{
    color: rgba(218, 25, 56, 0.842);
}
#juste{
    color: rgba(0, 204, 0, 0.808);
}